/* ESTILOS GERAIS */

@font-face {
    font-family: 'Poiret One';
    src: url(assets/fonts/PoiretOne-Regular.ttf) format('truetype')
}

@font-face {
    font-family: 'Fira Sans';
    src: url(assets/fonts/FiraSans-Bold.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Fira Sans';
    src: url(assets/fonts/FiraSans-Regular.ttf) format('truetype');
    font-weight: normal;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    all: unset;
    background-color: #16133E;
    color: #FDF4ED;
    font-family: 'Fira Sans';
}

h1, h2, h3, h4, h5, h6{
    margin: 0px;
    font-family: 'Poiret One', cursive;
    letter-spacing: .15rem;
    line-height: 2rem;
}

.header-menu{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}

::-webkit-scrollbar{
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: #16F555;
    border-radius: 40px;
}

/* HEADER/MENU */

.efeitoBlur {
    position: fixed;
    top: -650px;
    width: 120%;
    height: 1000px;
    z-index: -1;
    left: -12.5%;
    background: radial-gradient(#ff205570,transparent 60%);
}

.header{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
}

.linhaAmarela{
    border-bottom: 2px solid #16F555;
}

.linhaVermelha{
    border-bottom: 2px solid #E30D0D;
}

.header-menu{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.header-menu a{
    font-size: 1.125rem;
    line-height: 1.3;
    padding: 10px 15px;
    text-decoration: none;
    color: #FDF4ED;
    display: flex;
    border-bottom: 2px solid transparent;
}

.header-menu a:hover{
    border-bottom: 2px solid #16F555;
    transition: 1s;
}

.flag{
    width: 40px;
    height: 40px;
}

@media (max-width: 900px){
    .header{
        flex-direction: column;
        padding: 20px;
    }

}

/* INTRODUCAO */

.menu-icones{
    position: fixed;
    top: 100px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.menu-icones a{
    transition-duration: .5s;
}


.menu-icones a:hover{
    transform: translateX(6px);
}

svg:hover{
    fill: #16F555;
}

#linha{
    height: 120px;
    border-left: 1px solid #16F555;
}

.introducao{
    max-width: 1200px;
    padding: 40px 80px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    align-items: center;
}

.fotoPerfil{
    height: 271px;
    width: 271px;
    max-width: 100%;
    min-width: 271px;
    display: block;
}

.introducao div button{
    margin-top: 15px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #16F555;
    border-radius: 5px;
    color: #FDF4ED;
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
}

.introducao div button:hover{
    transition: .5s;
    background-color: #16F555;
    color: black;
}

.introducao h1{
    font-size: 3.5rem;
    font-weight: 400;
    padding: 25px 0px;
    line-height: 1.125;
    margin-bottom: 25px;
    position: relative;
}

.introducao h2{
    font-size: 1.6rem;
    font-weight: 400;
}

.introducao h1::before{
    content: '';
    display: block;
    width: 130px;
    height: 100px;
    background: url('assets/detalhe.svg') no-repeat center;
    position: absolute;
    z-index: -1;
    top: -10px;
    left: -65px;
}

.sobre{
    max-width: 1200px;
    padding: 40px 90px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

.sobre h3{
    place-self: center
}

.titulo{
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 1.125;
    margin: 20px 0px;
    text-align: center;
}

.titulo-formacao{
    padding-top: 50px;
}

.sobre ul{
    padding: 0px 0px 0px 17px;
}

.sobre ul li{
    padding-bottom: 5px;
}

.ferramentas{
    max-width: 1200px;
    padding: 40px 90px;
    margin: 0 auto;
    text-align: center;
}

.ferramentas-icones{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 20px;
    place-content: center;
    place-items: center;
}

.ferramentas-box{
    background: linear-gradient(180deg, rgba(29, 25, 81, 0.97) 0%, #16133E 100%);
    border: 1px solid #16F555;
    border-radius: 30px;
    transform: perspective(1000px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 140px;
    width: 140px;
}

.ferramentas-box img{
   transform: translateZ(20px);
   height: 120px;
   width: 120px;
   place-self: center;
}

/* PORTFÓLIO */


.tabs-container { 
    max-width: 620px; 
    min-width: 375px;
    margin: auto;
}

/* Style the tabs */
.tabs {
    margin-bottom: 28px; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.tabs a {
    cursor: pointer;
    padding: 12px 24px;
    width: 100px;
    text-align: center;
    border-radius: 18px;
    transition: background 0.1s, color 0.1s;
    background: linear-gradient(180deg, rgba(29, 25, 81, 0.97) 0%, #16133E 100%);
    box-shadow:  3px 3px 6px #100D35, 
                 -3px -3px 6px #24252a;
}

/* Change background color of tabs on hover */

.tabs a:hover {
    background: #100D35;
    color: #bbb;
}

/* Styling for active tab */
.darkmode .tabs a.active {
    background: #100D35;
    box-shadow: inset  3px 3px 6px #101114, 
                inset -3px -3px 6px #24252a; 
    color: #6a6a6a;
}


/* Style the tab content */
.content .active {
    display: block;
}
.tabcontent p {
    margin-bottom: 12px;
}
.tabcontent p:last-child {
    margin-bottom: 0;
}

.icon {
    padding-left: 8px;
    font-size: 16px;
}

/* SWIPER */

.swiper {
    width: 100%;
    height: 100%;
    padding: 46px;
    min-height: 288px;
    display: none;    
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;
    font-size: 18px;
    background: linear-gradient(180deg, rgba(29, 25, 81, 0.97) 0%, #16133E 100%);;
    box-shadow:  3px 3px 6px #100D35, 
                 -3px -3px 6px #24252a;
    height: 530px;
    width: 300px;
    border-radius: 18px;
    
}

.swiper-slide img {
display: block;
width: 100%;
height: 60%;
object-fit: contain;
}

.swiper-slide p{
    font-size: small;
    padding: 3px;
}

.slide-links{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.slide-links a img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.slide-ferramentas p{
    display: inline-block;
    color: #6a6a6a;
    font-size: 0.8rem;
    border: 1px solid #E30D0D;
    border-radius: 5px;
    padding: 3px 6px;
}


/* FORMAÇÃO */

.formacao{
        max-width: 1200px;
        padding: 40px 90px;
        margin: 0 auto;
}

.formacao-container-cards{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    padding: 10px 0px;
}

.formacao-subtitulo{
    display: flex;
}

.formacao-card{
    /* background: #1D1951; */
    background: linear-gradient(180deg, rgba(29, 25, 81, 0.97) 0%, #16133E 100%);
    border: 1px solid #141414;
    border-radius: 5px;
    padding: 10px 20px;
    position: relative;
}

.formacao-card p{
    color: #8F8F8F;
}

.nomeCurso::before{
    content: "";
    display: block;
    width: 4px;
    height: 20px;
    border-radius: 10px;
    background: linear-gradient(#F44543 43.26%,
    rgba(229, 116, 115, 0.4911) 100%);
    position: absolute;
    top: 70px;
    left: -2px;
}

.formacao span{
    margin: 20px 0px 5px 0px;    
}

.info-idioma{
    display: flex;
    align-items: center;
}

.info-idioma h4{
    min-width: 80px;
}

.info-idioma p{
    margin-left: 20px;
    color: #8F8F8F;
}

footer{
    background-color: #100D35;
    text-align: center;
}

.footer{
    max-width: 1200px;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    position: relative;
}

footer .titulo{
    text-align: left;
    margin-top: 25px;
}

.footer h3::before{
    content: '';
    display: block;
    width: 130px;
    height: 100px;
    background: url('assets/detalhe.svg') no-repeat center;
    position: absolute;
    z-index: 1;
    top: -50px;
    left: -30px;
}

.footer-conteudo{
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 25px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer-conteudo p{
    color: #8F8F8F;
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

.footer-conteudo div a{
    color: white;
    font-size: 1.3rem;
}

.redes-sociais{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.redes-sociais{
    list-style: none;
}

.redes-sociais li{
    padding-right: 15px;
}

.redes-sociais li img{
    width: 30px;
}


/* MEDIA QUERIES */


@media(max-width: 820px){
    .introducao{
        grid-template-columns: 1fr 1fr;
    }

    .introducao h1{
        font-size: 2.8rem;
    } 

    .ferramentas-icones{
        grid-template-columns: repeat(3, 1fr);
    } 

    .swiper {
        width: 80%;
        padding: 36px;    
    }

    .formacao-container-cards{
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    .footer-conteudo{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 650px){
    
        .introducao h1::before{
            width: 30px;
            height: 10px;
            top: 0px;
            left: 0px;
        }

        h2{
            font-size: 1.125rem;
        }

        .introducao{
            grid-template-columns: 1fr;
            justify-items: center;
        }
        .introducao h1{
            padding: 15px 0px;
            margin-bottom: 5px;
        }

        .sobre{
            padding: 40px 90px 15px 90px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr;
            gap: 40px;
        }

        .ferramentas, .sobre, .formacao{
            padding: 40px 50px;
        }

        .ferramentas-icones{
            grid-template-columns: repeat(2, 1fr);
            padding: 10px;
        }

        .slide-ferramentas p{
            padding: 2px 4px;
        }

        .formacao-card{
            padding: 10px
        } 
        
        .swiper {
            width: 70%;
        }
}